@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --react-international-phone-font-size	:16px;

      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  #home{
    background-image: repeating-linear-gradient(to right ,rgb(0,0,0) 15%,rgb(20,20,20) 20%) ;
  }

  #home > div {
    background-image:  radial-gradient( transparent,transparent, black 80%);
  }

  .star{
    width: 20rem !important;
  }

  .slider{
    width: 1700px !important;
  }


#slider{
  height: 310px !important;
}


.first , .fourth{
  width: 503px !important;
  height: 465px !important;
}

.second , .therd{
  width: 508px !important;
  height: 375px !important;
}

.cont{
  height: 950px !important;
}



.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  position: relative;

}

.embla::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: white;
  width: 19%;
  z-index: 10;

}

.embla::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: white;
  width: 20.5%;
  z-index: 10;
}


.emblas::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #eee !important;
  width: 19%;
  z-index: 10;

}

.emblas::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #eee !important;
  width: 20%;
  z-index: 10;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  
}


.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  width: 60%;
  margin: auto;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  /* font-size: 4rem; */
  /* font-weight: 600; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla__controls {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0 ;
  margin: 0 0 2% 0;
  width: 0.6rem;
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background-color: violet;
}


@media screen and (max-width:1400px) {
  #slider{
    height: 550px !important;

}

 .embla::before {
    width: 3%;
  }

  .embla::after {
    width: 1.1% !important ;
  }
  

  .embla__container{
    width: 100%;
    height: fit-content !important;
  }

  .embla {
    width: 100%;
    --slide-height: 30rem;
    --slide-spacing: 0.5rem;
    --slide-size: 95%;
    position: relative;
  
  }

  .embla__slide__number{
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    overflow: hidden;
}

.first , .fourth{
  width: 100% !important;
  height: 465px !important;
}

.second , .therd{
  width: 100% !important;
  height: 375px !important;
}



}

@media screen and (max-width: 642px) {
  .embla::after {
    width: 0% ;
  }
  
}


#icon-bg{
  background-color: rgba(255, 255, 255, 40%);
  box-shadow: -1px -1px 0px 0px rgb(255,255,255);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}



.work{
  position: relative;

}
 
.work > .layer{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: open-sans;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 65%);
  z-index: 10;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.work:hover .layer{
  top: 0;
}

#header{
  background-image: url('./../../public/about/hero.jpeg') ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gray{
  filter: grayscale(1) ;
  -webkit-filter: grayscale(1) ;
}

.area{
  grid-template-areas: 'l r';
}

.area > div:first-child {
  grid-area: r;
}

.area > div:nth-child(2) {
  grid-area: l;
}

.width{
  width: 100% !important;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  width: 140px;
  height: 140px;
  background: url("https://assets.codepen.io/7344750/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1657025755&width=512");
  background-size: cover;
  border-radius: 100vmax;
  background-position: center;
}

.texto {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: consolas;
  color: #000;
  font-size: 17px;
  animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.texto span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
}



.circle_1 {
  transform: rotate(15.652173913deg);
}

.circle_2 {
  transform: rotate(31.3043478261deg);
}

.circle_3 {
  transform: rotate(46.9565217391deg);
}

.circle_4 {
  transform: rotate(62.6086956522deg);
}

.circle_5 {
  transform: rotate(78.2608695652deg);
}

.circle_6 {
  transform: rotate(93.9130434783deg);
}

.circle_7 {
  transform: rotate(109.5652173913deg);
}

.circle_8 {
  transform: rotate(125.2173913043deg);
}

.circle_9 {
  transform: rotate(140.8695652174deg);
}

.circle_10 {
  transform: rotate(156.5217391304deg);
}

.circle_11 {
  transform: rotate(172.1739130435deg);
}

.circle_12 {
  transform: rotate(187.8260869565deg);
}

.circle_13 {
  transform: rotate(203.4782608696deg);
}

.circle_14 {
  transform: rotate(219.1304347826deg);
}

.circle_15 {
  transform: rotate(234.7826086957deg);
}

.circle_16 {
  transform: rotate(250.4347826087deg);
}

.circle_17 {
  transform: rotate(266.0869565217deg);
}

.circle_18 {
  transform: rotate(281.7391304348deg);
}

.circle_19 {
  transform: rotate(297.3913043478deg);
}

.circle_20 {
  transform: rotate(313.0434782609deg);
}

.circle_21 {
  transform: rotate(328.6956521739deg);
}

.circle_22 {
  transform: rotate(344.347826087deg);
}

.circle_23 {
  transform: rotate(360deg);
}/*# sourceMappingURL=circle.module.css.map */