.container {
    position: relative;
    width: 200px;
    height: 170px;
    text-align: center;
    margin: 0;
    transform: rotate(-80deg);
  }
  
  .circle {
    position: absolute;
    top: 0;
    left: calc(50% - 15px);
    display: inline-block;
    width: 32px;
    height: 85px;
    transform-origin: center bottom;
  }
  



  @media screen and (max-width:800px) {
    .container {
      position: relative;
      width: 200px;
      height: 115px;
      text-align: center;
      margin: 0;
      transform: rotate(-80deg);
      -webkit-transform: rotate(-80deg);
      -moz-transform: rotate(-80deg);
      -ms-transform: rotate(-80deg);
      -o-transform: rotate(-80deg);
}
    
    .circle {
      position: absolute;
      top: 0;
      left: calc(50% - 15px);
      display: inline-block;
      width: 32px;
      height: 60px;
      transform-origin: center bottom;
    }
    
  
  }
